[mysqld]
max_allowed_packet=1073741824
skip-log-bin


[mysql]
innodb_page_size=8192
innodb_io_capacity=1000
innodb_io_capacity_max=2500
innodb_buffer_pool_size=3758096384

[mariadb]
innodb_page_size=8192
innodb_io_capacity=1000
innodb_io_capacity_max=2500
innodb_buffer_pool_size=3758096384
innodb_file_per_table=ON
innodb_compression_default=ON
innodb_compression_algorithm=lz4
large-pages
