[mysqld]
default-authentication-plugin=mysql_native_password
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

max_allowed_packet=1073741824
skip-log-bin
innodb_page_size=8192
innodb_io_capacity=1000
innodb_io_capacity_max=2500
innodb_buffer_pool_size=2147483648
large-pages

innodb_buffer_pool_instances=2
innodb_file_per_table=ON
innodb_flush_log_at_trx_commit=2
innodb_log_writer_threads=ON
innodb_redo_log_capacity=536870912
innodb_log_write_ahead_size=4096